@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

body{
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
    
}

.mainContainer{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-content: center;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    -webkit-box-shadow: 4px 7px 21px -7px rgba(0,0,0,0.8);
    -moz-box-shadow: 4px 7px 21px -7px rgba(0,0,0,0.8);
    box-shadow: 4px 7px 21px -7px rgba(0,0,0,0.8);
    border-radius: 10px;
}

.header{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 15px;
    height: 250px;

}
.header h1{
    color: hsl(179, 62%, 43%);
}

.header h2{
    color: hsl(71, 73%, 54%);
}
.header p{
    padding-top: 0px ;
    margin-top: 0%;
}

.body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 250px; */
}

.left{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color:  hsl(179, 78%, 33%);
    color: aliceblue;
    width: 400px;
    border-bottom-left-radius: 10px;
}

.left span{
    font-weight: 700;
    font-size: 2em;
}
.left button{
    height: 40px;
    width: 200px;
    margin: 10px auto;
    background-color: hsl(71, 73%, 54%);
    border: none;
    border-radius: 5px;
    color: hsl(218, 22%, 67%);
    -webkit-box-shadow: 4px 7px 21px -7px rgba(0,0,0,0.8);
    -moz-box-shadow: 4px 7px 21px -7px rgba(0,0,0,0.8);
    box-shadow: 4px 7px 21px -7px rgba(0,0,0,0.8);
    cursor: pointer;
}
.right{
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    justify-content: space-between;
    padding: 30px;
    background-color: hsl(179, 52%, 44%)    ;
    width: 400px;
    border-bottom-right-radius: 10px;
}

.right{
    color: azure;
}
.right p{
    margin-bottom: 0px;
    margin-top: 0px;
    color: hsl(204, 43%, 93%);
    font-weight: 400;
    /* padding-bottom: 0px; */
}
footer{
    text-align: center;
}

@media screen and (max-width: 992px) {
    
    .mainContainer{
        width: fit-content;
    }
    .body{
        flex-direction: column;       
    }
    .header{
        max-width: 400px;
        padding: 0%;
        margin-left: 15px;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .left{
        border-bottom-left-radius: 0px;
    }
    .right{
        border-bottom-left-radius: 10px;
    }
    }